body {
    background-color: #1A1A1C;
    color: #ffffff;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    background-color: #1A1A1C;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 15px #000000;
}

.headContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    grid-column: span 1;
    background-color: #1A1A1C;
    color: #ffffff;
    border: 2px solid #8E8E8E;
    border-radius: 6px;
    padding: 10px 15px;
}

button {
    background-color: #1A1A1C;
    color: #ffffff;
    border: 2px solid #8E8E8E;
    border-radius: 6px;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #3a3a3a;
}

table {
    width: 100%;
    border-collapse: collapse;
}

#cryptoTable tbody tr {
    border-bottom: 2px solid #8E8E8E;
}

#cryptoTable tbody tr:hover {
    background-color: #252525;
}

td,
th {
    padding: 12px;
    text-align: left;
}

img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}